opencv-python==4.7.0.72
numpy==1.23.5
openvino==2023.0.1
openvino-dev==2023.0.1
openvino-telemetry==2023.2.1
openvino2tensorflow==1.34.0
protobuf==3.20.3
onnx==1.14.0
onnxruntime==1.14.1
tensorflow==2.13.0
tensorflow_datasets==4.9.3
torch==1.13.1
torchvision==0.14.1
mxnet==1.9.1
easydict
matplotlib
mako==1.2.4
pyyaml
shapely
scikit-learn
xmltodict
yamlloader
cython
nibabel
progress
pycocotools
gdown
tf2onnx
onnxoptimizer
onnxsim
sne4onnx
sng4onnx==1.0.1